/* slider, copy from quirksmode */
input[type=range] {
	-webkit-appearance: none;
	height: 35px; /* pick your own value */
	padding: 0;	
	/* your slider styles */
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	box-sizing: content-box;
	/* your thumb styles */
}

input[type=range]::-moz-range-thumb {
	/* again your thumb styles */
}

input[type=range]::-ms-thumb { /* should come after -webkit- */
	/* again your thumb styles */
	/* may require different margins */
}

input[type=range]::-webkit-slider-runnable-track {
	/* your track styles */
}

input[type=range]::-moz-range-track {
	/* again your track styles */
}

input[type=range]::-ms-track { /* should come after -webkit- */
	border-color: transparent;
	color: transparent;
	/* again your track styles */
}


/* The close X, (<span class="close">&times;</span>) */
.close {
  float: right;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.close:focus, .close:hover {
  color: #000;
  text-decoration: none;
  opacity: .75;
  cursor: pointer;
}

button.close {
  padding: 0;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.button-bar {
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
  background-color: white;
}
.button-bar > div {
    display: flex;
}
.button-bar a,
.button-bar label {
  display: inline-block;
  appearance: none;
  box-shadow: none;
  border-style: solid;
  text-decoration: none;
}
.button-bar input {
  display: none;
}
label.button:hover,
.button-bar input:checked+label.button {
  border-style: ridge;
  border-color: black;
}
label.button {
    display: flex;
    flex-direction: column;
}
label.button {
  position: relative;
  width: 3.5em;
  height: 2.5em;
  border-style: solid;
  border-color: white; 
}
label.button:active {
  top: 1px;
  left: 1px;
}
label.button img {
  display: block;
  align-self: center;
  pointer-events: none;	/*disable img draggin*/
}
label.button:hover span {
  opacity: 0.8;
}
label.button span {
    opacity: 0;
    font-size: 0.8em;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    color: black;
    text-shadow:		/* stroke font */
    -1px -1px 0 gold,
    1px -1px 0 gold,
    -1px 1px 0 gold,
    1px 1px 0 gold;  
    text-decoration: none;
    text-align: center;
}
