html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.unfocus:not(.exclude) {
  opacity: 0.5;
  pointer-events: none;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
    border: 1px dotted grey;
}

.box .row.header {
    flex: 0 1 auto;
    /* short hand for flex-grow:0, flex-shrink:1, flex-basis:auto; */
}

.box .row.content {
    flex: 1 1 auto;
}

.box .row.footer {
    flex: 0 1 auto;
}

#canvas {
display: flex; flex-direction: column;
}
#glcanvas {
    flex-grow: 1;
    background-color: black;
}
#statusbar {
  position:absolute;
  left:0;
  width: 100%;
  background: rgba(255,255,255,.5);
}
footer {
    background-color:red;
/*    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height:30px;
    margin-bottom:0px;*/
}
footer:before {
    content:  "\00A0"; /* none-breaking space, prevent empty help text shrinking */
    float: right;
}
#helpbar {
  white-space: pre;
}

/* global class */
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
  user-drag: none;
}
.not-implemented { cursor: not-allowed; } /* for temporary disabled selection */

