:root {
  --infoLineBackground: #F2F1F0;
  --infoLineText: #4C4C4C;
}

/*
*,
*:after,
*:before {
  box-sizing: border-box;
}*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    overflow:hidden;
}

.unfocus:not(.exclude) {
  opacity: 0.5;
}

.page-layout {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.content {
  flex: 1 1 auto;
  display: flex; 
  flex-direction: column;
}

.marginal {
  flex: 0 1 auto;
  border: 1px dotted grey;
}

#glcanvas {
    flex-grow: 1;
    background-color: black;
}

#statusbar {
  position:absolute;
  left:0;
  width: 100%;
  background: rgba(255,255,255,.5);
}

#helpbar {
  white-space: pre;   /* keep bar in place */
  background-color: var(--infoLineBackground);
  color: var(--infoLineText);
  height: 1.5rem;
}

/* global class */
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
  user-drag: none;
}
.not-implemented { cursor: not-allowed; } /* for temporary disabled selection */

