html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

nav.menu {
    background-color: #333;
/*    border: 1px solid #333; */
    color: #fff;
    display: block;
    margin: 0;
    padding: 0;
/*    overflow: hidden; */
}
nav.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav.menu ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style-type: none;
    transition: all 0s;
}

nav.menu > ul > li > a {
    color: #aaa;
    display: block;
    line-height: 1em;
    padding: 0.5em 2em;
    text-decoration: none;
}

nav.menu li > ul{
    display : none;
    /*margin-top:1px;*/
    background-color: #bbb;

}

nav.menu li > ul li{
    display: block;
}

nav.menu  li > ul li a {
    color: #111;
    display: block;
    line-height: 1em;
    padding: 0.5em 2em;
    text-decoration: none;
}

nav.menu li:hover {
    background-color: #666;
}
nav.menu li:hover > ul{
    position:absolute;
    display : block;
}
nav.menu li > ul > li ul  {
    display: none;
    background-color: #888;
}
nav.menu li > ul > li:hover > ul  {
    position: absolute;
    display : block;
    margin-left:100%;
    margin-top:-2em;
}

nav.menu ul > li.drop:before {
    content: "\2304";
    float: right;
    padding: 0.0em 0.5em;
}

nav.menu ul > li > ul {
   z-index: 1;
}
/*nav.menu ul > li.drop {
    background: url(/img/ic_keyboard_arrow_down_white_18dp.png) right center no-repeat;
}*/

nav.menu ul > li.drop li.sub:before {
    content: "\203a";
    float: right;
    padding: 0.5em 0.5em;
}
/*nav.menu ul > li.sub li.sub {
        background: url(/img/ic_keyboard_arrow_right_white_18dp.png) right center no-repeat;
}*/

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
    border: 1px dotted grey;
}

.box .row.header {
    flex: 0 1 auto;
    /* short hand for flex-grow:0, flex-shrink:1, flex-basis:auto; */
}

.box .row.content {
    flex: 1 1 auto;
}

.box .row.footer {
    flex: 0 1 auto;
}

.button-bar {
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
  background-color: lightyellow;
}
.button-bar > div {
    display: flex;
}
button.button {
    display: flex;
    flex-direction: column;
}
img {
    align-self: center;
}

#canvas {
display: flex; flex-direction: column;
}
#glcanvas {
    flex-grow: 1;
    background-color: black;
}
#statusbar {
  position:absolute;
  left:0;
  width: 100%;
  background: rgba(255,255,255,.5);
}
footer {
    background-color:red;
/*    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height:30px;
    margin-bottom:0px;*/
}
footer:before {
    content:  "\00A0"; /* none-breaking space, prevent empty help text shrinking */
    float: right;
}
#helpbar {
  white-space: pre;
}


/* context menu */

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none; 
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
  margin-bottom: 4px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.context-menu__link {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
}

.context-menu__link:hover {
  color: #fff;
  background-color: #0066aa;
}

.context-menu__submenu > ul li {
  display: block;
}
.context-menu__submenu > ul li a {
    color: #111;
    display: block;
    line-height: 1em;
    padding: 0.5em 2em;
    text-decoration: none;
}
.context-menu__submenu > ul {
    display : none;
    /*margin-top:1px;*/
  white-space: nowrap;
    background-color: #bbb;
}

.context-menu__submenu:hover > ul {
    content: "";
    position: absolute;
    display : block;
    z-index: 11;
    margin-left:100%;
    margin-top:-2em;
}

.dialog {
    background-color:  #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
  width: 340px;
}

.dialog input[type=number] {
   width: 60px;
}

.dialog span {
    display: inline-block;
}

/* The Close X */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* all form dialog is in hiding */
form {
  display: none;
  position: absolute;
}

#cutLineDialog {
  background-color:  #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
  width: 240px;
}
