nav.menu {
    background-color: #333;
/*    border: 1px solid #333; */
    color: #fff;
    display: block;
    margin: 0;
    padding: 0;
/*    overflow: hidden; */
}
ul.menubar, ul.popupmenu {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.menubar li {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style-type: none;
    transition: all 0s;
}

ul.menubar > li.menuItem > a {
    color: #aaa;
}

ul.menubar > li > a,
ul.popupmenu > li > a {
  display: block;
  line-height: 1em;
  padding: 0.5em 2em;
  text-decoration: none;
  white-space: nowrap;
}

ul.menubar > li:hover,
ul.popupmenu > li:hover {
  background-color: #666;
}


/* dropdown menu */
ul.popupmenu {
  display : none;
  /*margin-top:1px;*/
  background-color: #bbb;
  list-style: none;
  z-index: 100;
}

/* menuItem */
ul.popupmenu > li {
  display: block;
}
ul.popupmenu > li > a {
  color: #111;
  display: block;
  line-height: 1em;
  padding: 0.5em 2em;
  text-decoration: none;
}

/* popup shown */
li.dropdown.hover > ul.popupmenu {
   position:absolute;
   display : block;
}
li.dropside:hover > ul.popupmenu {
    position: absolute;
    display : block;
    margin-left:100%;
    margin-top:-2em;
}
/* added attribute for showing extra menu available. */
li.dropdown::before {
  content: "\2304";
  float: right;
  padding: 0.0em 0.5em;
}
li.dropside::before {
  content: "\203a";
  float: right;
  padding: 0.5em 0.5em;
}
/*nav.menu ul > li.drop {
    background: url(/img/ic_keyboard_arrow_down_white_18dp.png) right center no-repeat;
}nav.menu ul > li.sub li.sub {
        background: url(/img/ic_keyboard_arrow_right_white_18dp.png) right center no-repeat;
}*/

/* context menu */

nav.menu > ul.popupmenu {
  position: absolute;
}

/*.context-menu__item:last-child {
  margin-bottom: 0;
}*/

