nav.menu {
    background-color: #333;
/*    border: 1px solid #333; */
    color: #fff;
    display: block;
    margin: 0;
    padding: 0;
/*    overflow: hidden; */
}
ul.menubar, ul.popupmenu {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* dropdown menu */
ul.popupmenu {
  visibility : hidden;
  position: absolute;    /* parent need to be relative */
  top: 100%;             /* place directly under parent */
  /*margin-top:1px;*/
  /*background-color: #bbb;*/
  list-style: none;
  z-index: 100;
}
ul.popupmenu > li {
  background-color: #bbb;
  position: relative;
}
ul.popupmenu > hr {
  margin: 0em;
  border-width: 2px
}
ul.popupmenu ul.popupmenu {
  width: 100%;
}
ul.menubar {
  display: flex;
  flex-direction: row;
}
ul.menubar > li {
    margin: 0;
    padding: 0;
  display: flex;
  position: relative;
/*    display: inline-block; */
    list-style-type: none;
    transition: all 0s; 
}

/* menuItem */
ul.popupmenu > li > a {
  color: #111;
}
ul.menubar > li.menuItem > a {
    color: #aaa;
}
ul.popupmenu > li {
  display: flex;
}


ul.menubar > li > a,
ul.popupmenu > li > a {
  display: block;
  flex: 1;
  line-height: 1em;
  padding: 0.5em 2em;
  text-decoration: none;
  white-space: nowrap;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
ul.popupmenu > li > img {
  align-self: center;
  padding: 0 0.3em 0 0;
}

ul.menubar > li:hover,
ul.popupmenu > li:hover {
  background-color: #666;
}

/* added attribute for showing extra menu available. */
li.dropdown:after {
  content: "\2304";
}
li.dropside::after {
  content: "\203a";
  padding: 0 0.5em 0 0;
  align-self: center;
}
li.dropside.hideAfter::after {
  display: none;
}
li.dropside::before {
  content:"\2039";
  align-self: center;
  padding: 0 0 0 0.5em;
  display: none;
}
li.dropside.showBefore::before {
  display: block;
}
