nav.menu {
    background-color: #333;
/*    border: 1px solid #333; */
    color: #fff;
    display: block;
    margin: 0;
    padding: 0;
/*    overflow: hidden; */
}
nav.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav.menu ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style-type: none;
    transition: all 0s;
}

nav.menu > ul > li > a {
    color: #aaa;
    display: block;
    line-height: 1em;
    padding: 0.5em 2em;
    text-decoration: none;
}
nav.menu > ul > li > input {
    color: #aaa;
    display: block;
    line-height: 1em;
    padding: 0.5em 2em;
    text-decoration: none;
}


nav.menu li > ul{
    display : none;
    /*margin-top:1px;*/
    background-color: #bbb;

}

nav.menu li > ul li{
    display: block;
}

nav.menu  li > ul li a {
    color: #111;
    display: block;
    line-height: 1em;
    padding: 0.5em 2em;
    text-decoration: none;
}

nav.menu li:hover {
    background-color: #666;
}
nav.menu li:hover > ul{
    position:absolute;
    display : block;
}
nav.menu li > ul > li ul  {
    display: none;
    background-color: #888;
}
nav.menu li > ul > li:hover > ul  {
    position: absolute;
    display : block;
    margin-left:100%;
    margin-top:-2em;
}

nav.menu ul > li.drop:before {
    content: "\2304";
    float: right;
    padding: 0.0em 0.5em;
}

nav.menu ul > li > ul {
   z-index: 1;
}
/*nav.menu ul > li.drop {
    background: url(/img/ic_keyboard_arrow_down_white_18dp.png) right center no-repeat;
}*/

nav.menu ul > li.drop li.sub:before {
    content: "\203a";
    float: right;
    padding: 0.5em 0.5em;
}
/*nav.menu ul > li.sub li.sub {
        background: url(/img/ic_keyboard_arrow_right_white_18dp.png) right center no-repeat;
}*/


/* context menu */

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none; 
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
  margin-bottom: 4px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.context-menu__link {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
}

.context-menu__link:hover {
  color: #fff;
  background-color: #0066aa;
}

.context-menu__submenu > ul li {
  display: block;
}
.context-menu__submenu > ul li a {
    color: #111;
    display: block;
    line-height: 1em;
    padding: 0.5em 2em;
    text-decoration: none;
}
.context-menu__submenu > ul {
    display : none;
    /*margin-top:1px;*/
  white-space: nowrap;
    background-color: #bbb;
}

.context-menu__submenu:hover > ul {
    content: "";
    position: absolute;
    display : block;
    z-index: 11;
    margin-left:100%;
    margin-top:-2em;
}


