
.sidebar > .sidebarPanel {
  flex: 1;
  display: flex;
  justify-content: center;
}
.sidebar > .sidebarPanel{
  background: #fff;
  display: none;
  border-color: silver;
}

.sidebar > input{
  display: none;
}
.sidebar > input:checked+label+.sidebarPanel{
  display: block;
}
.sidebar > label:hover, .sidebar > input:checked+label:hover {
  border-style: outset;
}
.sidebar > label {
  background-color: gray;
  border-style: ridge;
  border-color: silver;
  cursor: pointer;
}
.sidebar> input:checked+label {
  background-color: #F07746;
  border-style: groove;
}

/* tree view */
ul.treeview {
  padding-left: 1em;
}
.treeview ul, .treeview li {
  list-style: none;
}
.treeview ul {
  padding-left: 1em; 
} 

.treeview input{
  display: none;
}
.treeview input ~ ul {
  display: none;
}
.treeview input:checked ~ ul {
  display: block;
}
.treeview input ~ label {
  cursor: pointer;
  font-weight: bold;
}
.treeview input ~ label:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  margin-left: -0.8em;
  margin-top: 0.4em;
  border-width: 4px;
  border-style: solid;
  border-top-color: transparent;
  border-right-color: red;
  border-bottom-color: red;
  border-left-color: transparent;
}
.treeview input:checked ~ label:before {
  margin-left: -0.6em;
  border-width: 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: red;
}

.objectName {
  display: flex;
}

.objectName > span {
  flex-grow: 2;
}

.smallIcon {
  display: inline-block;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
}
input+.smallIcon {
  background-position: 0px 0px;
}
input:checked+.smallIcon {
  background-position: -16px 0px;
}
