:root {
  --menubarBackground: #3C3B37;
  --menubarText: #FFFFFF;
  --menuBackground: #3C3B37;
  --menuText: #FFFFFF;
  --menuHighlight: #F07746;
  --menuHighlightText: #FFFFFF; 
}

nav.menu {
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
}
ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* dropdown menu */
ul.popup.menu {
  display: none;
  position: absolute;    /* parent need to be relative */
  top: 100%;             /* place directly under parent */
  z-index: 100;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
ul.popup.menu.toggleOn {
  display: block;
}
ul.popup.menu > li {
  display: flex;
  position: relative;
}
li.dropside {
  flex-direction: column;
}
ul.popup.menu  hr {
  width: 100%;
  margin: 0em;
  border-width: 2px
}
li.dropside > ul.popup.menu {
  width: 100%;
  position: inherit;
}
ul.menu.bar {
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap; */
  overflow-x: auto;
}
ul.menu.bar > li {
  margin: 0;
  padding: 0;
  display: flex;
  position: static;
  list-style-type: none;
  transition: all 0s;
}

/* menuItem */
nav.menu li {
  background-color: var(--menuBackground);
}
nav.menu a {
  color: var(--menuText);
}
nav.menu.bar li {
  background-color: var(--menubarBackground);
}
nav.menu.bar {
  color: var(--menubarText);
}

ul.menu > li > a {
  display: flex;
  justify-content: space-between;
  flex: 1;
  line-height: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
ul.popup.menu > li > img {
  align-self: center;
  padding: 0 0.3em 0 0;
}

ul.popup.menu > li.slideOut {
  display: none;
  height: 0px;
}

ul.menu li:hover {
  background-color: var(--menuHighlight);
}
ul.menu li > a:hover {
  color: var(--menuHighlightText);
}
ul.menu li > a.hotkey:after {
  content: attr(data-hotkey);
  padding-left: 1rem;
}

/* added attribute for showing extra menu available. */
li.dropdown > a, li.dropside > a {
  position: relative;
}
li.dropdown > a::after {
  content: "\2304";
  position: absolute;
  right: 0;
}
li.dropside > a::after {
  content: "\203a";
  position: absolute;
  right: 0;
  padding: 0 0.5em 0 0;
  align-self: center;
}
li.dropside.hideAfter > a::after {
  display: none;
}
li.dropside > a::before {
  content:"\2039";
  align-self: center;
  padding: 0 0 0 0.5em;
  margin-left: -1rem;
  position: absolute;
  display: none;
}
li.dropside.showBefore > a::before {
  display: inline;
}
ul.popup.menu > li.dropside.slideUp {
  min-width: 10rem;
 }
