/*
*,
*:after,
*:before {
  box-sizing: border-box;
}*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    overflow:hidden;
}

.unfocus:not(.exclude) {
  opacity: 0.5;
}

.page-layout {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.content {
  flex: 1 1 auto;
  display: flex; 
  flex-direction: column;
}

.marginal {
  flex: 0 1 auto;
  border: 1px dotted grey;
}

#glcanvas {
    flex-grow: 1;
    background-color: black;
}

#statusbar {
  position:absolute;
  left:0;
  width: 100%;
  background: rgba(255,255,255,.5);
}

#helpbar {
  white-space: pre;
  background-color:red;
  height: 1.5rem;
}

/* global class */
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
  user-drag: none;
}
.not-implemented { cursor: not-allowed; } /* for temporary disabled selection */

nav.menu {
    background-color: #333;
/*    border: 1px solid #333; */
    color: #fff;
    display: block;
    margin: 0;
    padding: 0;
/*    overflow: hidden; */
}
ul.menubar, ul.popupmenu {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* dropdown menu */
ul.popupmenu {
  visibility : hidden;
  position: absolute;    /* parent need to be relative */
  top: 100%;             /* place directly under parent */
  /*margin-top:1px;*/
  /*background-color: #bbb;*/
  list-style: none;
  z-index: 100;
}
ul.popupmenu > li {
  background-color: #bbb;
  position: relative;
}
ul.popupmenu > hr {
  margin: 0em;
  border-width: 2px
}
ul.popupmenu ul.popupmenu {
  width: 100%;
}
ul.menubar {
  display: flex;
  flex-direction: row;
}
ul.menubar > li {
    margin: 0;
    padding: 0;
  display: flex;
  position: relative;
/*    display: inline-block; */
    list-style-type: none;
    transition: all 0s; 
}

/* menuItem */
ul.popupmenu > li > a {
  color: #111;
}
ul.menubar > li.menuItem > a {
    color: #aaa;
}
ul.popupmenu > li {
  display: flex;
}


ul.menubar > li > a,
ul.popupmenu > li > a {
  display: block;
  flex: 1;
  user-select: none;
  line-height: 1em;
  padding: 0.5em 2em;
  text-decoration: none;
  white-space: nowrap;
}
ul.popupmenu > li > img {
  align-self: center;
}

ul.menubar > li:hover,
ul.popupmenu > li:hover {
  background-color: #666;
}

/* added attribute for showing extra menu available. */
li.dropdown::after {
  /* content: "v"; */
  content: "\2304";
  /*padding: 0.0em 0.5em;*/
}
li.dropside::after {
  content: "\203A";
  padding: 0.5em 0.5em;
  /*align-self: center;*/
}

/* slider, copy from http://danielstern.ca/range.css */
input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 0.7px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 25.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #484d4d;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 27px;
  width: 18px;
  border-radius: 0px;
  background: rgba(255, 67, 95, 0.93);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.7px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #545a5a;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 25.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #484d4d;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 27px;
  width: 18px;
  border-radius: 0px;
  background: rgba(255, 67, 95, 0.93);
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 25.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #3c4040;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].slider::-ms-fill-upper {
  background: #484d4d;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].slider::-ms-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 27px;
  width: 18px;
  border-radius: 0px;
  background: rgba(255, 67, 95, 0.93);
  cursor: pointer;
  height: 25.6px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #484d4d;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #545a5a;
}

/* The close X, (<span class="close">&times;</span>) */
.close {
  float: right;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.close:focus, .close:hover {
  color: #000;
  text-decoration: none;
  opacity: .75;
  cursor: pointer;
}

button.close {
  padding: 0;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.button-bar {
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
  background-color: white;
}
.button-bar > div {
    display: flex;
}
.button-bar a,
.button-bar label {
  display: inline-block;
  appearance: none;
  box-shadow: none;
  border-style: solid;
  text-decoration: none;
}
.button-bar input {
  display: none;
}
label.button:hover,
.button-bar input:checked+label.button {
  border-style: ridge;
  border-color: black;
}
label.button {
    display: flex;
    flex-direction: column;
}
label.button {
  position: relative;
  width: 3.5em;
  height: 2.5em;
  border-style: solid;
  border-color: white; 
}
label.button:active {
  top: 1px;
  left: 1px;
}
label.button img {
  display: block;
  align-self: center;
  pointer-events: none;	/*disable img draggin*/
}
label.button:hover span {
  opacity: 0.8;
}
label.button span {
    opacity: 0;
    font-size: 0.8em;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    color: black;
    text-shadow:		/* stroke font */
    -1px -1px 0 gold,
    1px -1px 0 gold,
    -1px 1px 0 gold,
    1px 1px 0 gold;  
    text-decoration: none;
    text-align: center;
}
.dialog {
  background-color:  #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
  width: 340px;
}

.dialog input[type=number] {
   width: 60px;
}

.dialog span {
    display: inline-block;
}

/* all form dialog start in hiding */
form {
  display: none;
  flex-direction: column;
  position: absolute;
}

#cutLineDialog {
  background-color:  #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
  width: 240px;
}
/*
interactive Tutor's speech bubble css. like hopscotch js's thick border style. like how shepherd js's bubble arrow is inside the bubble's box, should make position calculation easier.
Use flex-box ability to move arrow around(up,down,left,right) easier.
*/

div.tutor-bubble .tutor-nav-button {
  /* borrowed from katy styles */
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  margin: 0;
  overflow: visible;
  text-decoration: none;
  width: auto;
  padding: 0 10px;
  height: 26px;
  line-height: 24px;
  font-size: 12px;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  box-sizing: border-box;
}
div.tutor-bubble .tutor-nav-button:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
div.tutor-bubble .tutor-nav-button:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
}
div.tutor-bubble .tutor-nav-button.next {
  border-color: #1b5480;
  color: #fff;
  margin: 0 0 0 10px;
  /* HS specific*/
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  background-color: #287bbc;
  background-image: linear-gradient(to bottom, #287bbc 0%, #23639a 100%);
}
div.tutor-bubble .tutor-nav-button.next:hover {
  background-color: #2672ae;
  background-image: linear-gradient(to bottom, #2672ae 0%, #1e4f7e 100%);
}
div.tutor-bubble .tutor-nav-button.prev {
  border-color: #a7a7a7;
  color: #444;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f2f2f2;
  background-image: linear-gradient(to bottom, #f2f2f2 0%, #e9e9e9 100%);
}
div.tutor-bubble .tutor-nav-button.prev:hover {
  background-color: #e8e8e8;
  background-image: linear-gradient(to bottom, #e8e8e8 0%, #e3e3e3 13%, #d7d7d7 32%, #b9b9b9 71%, #a9a9a9 100%);
}
div.tutor-bubble {
  position: absolute;
  width: auto;
  max-width: 350px;
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
div.tutor-bubble .tutor-container {
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 100%;
  min-width: 200px;
  padding: 10px;
  color: #333;
  background-color: #ffffff;
  font-family: Helvetica, Arial;
  font-size: 13px;
  background-clip: padding-box;
}
div.tutor-bubble * {
  box-sizing: border-box;
}
div.tutor-bubble.invisible {
  opacity: 0;
}
div.tutor-bubble.hide,
div.tutor-bubble .hide,
div.tutor-bubble .hide-all {
  display: none;
}
div.tutor-bubble h3 {
  color: #000;
  font-family: Helvetica, Arial;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  margin: -1px 15px 0 0;
  padding: 0;
}

div.tutor-bubble .tutor-content {
  font-family: Helvetica, Arial;
  font-weight: normal;
  line-height: 17px;
  margin: 0 0 11px 5px;
  padding-top: 8px;
}
div.tutor-bubble .tutor-content em {
  color: red;
}
div.tutor-bubble .close.hide,
div.tutor-bubble .close.hide-all {
  display: none;
}

div.tutor-bubble .tutor-actions {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 10px 0 0;
  text-align: right;
}
div.tutor-bubble .tutor-container {
  order: 2;
}
div.tutor-bubble .tutor-arrow {
  order: 1;
  width: 0;
  height: 0;
  font-size: 0px;
  position: relative;
  content: '';
  border-style: solid;
  border-width: 16px;
  border-color: LightSkyBlue;
  z-index: 1;
}
div.tutor-bubble .tutor-arrow::after {
  content: '';
  width: 0;
  height: 0;
  position: relative;
  border-style: solid;
  border-width: 14px;
  border-color: white;
}

div.tutor-bubble.left {
  flex-direction: row;
}
div.tutor-bubble.left .tutor-arrow {
  border-width: 16px 16px 16px 0px;
  border-color: transparent rgba(0, 0, 0, 0.5);
}
div.tutor-bubble.left .tutor-arrow::after {
  border-width: 14px 14px 14px 0px;
  border-color: transparent white;
  left: 7px;
}

div.tutor-bubble.right {
  flex-direction: row-reverse;
}
div.tutor-bubble.right .tutor-arrow {
  border-width: 16px 0px 16px 16px;
  border-color: transparent rgba(0, 0, 0, 0.5);
}
div.tutor-bubble.right .tutor-arrow:after {
  border-width: 14px 0px 14px 14px;
  border-color: transparent white;
  right: 21px; /* 14+7 */
}

div.tutor-bubble.top {
  flex-direction: column;
}
div.tutor-bubble.top .tutor-arrow {
  border-width: 0px 16px 16px 16px;
  border-color: rgba(0, 0, 0, 0.5) transparent;
}
div.tutor-bubble.top .tutor-arrow::after {
  border-width: 0px 14px 14px 14px;
  border-color: white transparent;
  top: 7px;
  left: -14px;
}


div.tutor-bubble.bottom {
  flex-direction: column-reverse;
}
div.tutor-bubble.bottom .tutor-arrow {
  border-width: 16px 16px 0px 16px;
  border-color: rgba(0, 0, 0, 0.5) transparent;
}
div.tutor-bubble.bottom .tutor-arrow::after {
  border-width: 14px 14px 0px 14px;
  border-color: white transparent;
  bottom: 7px;
  left: -14px;
}

div.tutor-progress {
    display: none;
    width: 100%;
    background-color: grey;
}
span.tutor-progress-done {
    display: inline-block;
    width: 0%;
    height: 1em;
    background-color: green;
}
span.tutor-progress-indicator {
    display: inline-block;
    width: 0%;
    height: 1em;
    background-color: blue;
}
